<div class="registro-page">
<div class="registro-container">
  <h2>Registro</h2>
  
  <form [formGroup]="form" (ngSubmit)="registrar()">
    <!-- Campo Usuario con ícono -->
    <div class="input-group">
      <i class="fas fa-user"></i>
      <input  
        type="text" 
        placeholder="Nombre de usuario" 
        formControlName="username" 
      />
    </div>

    <!-- Campo Correo con ícono -->
    <div class="input-group">
      <i class="fas fa-envelope"></i>
      <input 
        type="email" 
        placeholder="Correo electrónico" 
        formControlName="email" 
      />
    </div>

    <!-- Campo Contraseña con ícono -->
    <div class="input-group">
      <i class="fas fa-lock"></i>
      <input 
        type="password" 
        placeholder="Contraseña" 
        formControlName="password" 
      />
    </div>

    <!-- Botones -->
    <div class="buttons">
      <button type="submit">Registrar</button>
      <button type="button" [routerLink]="['/']">Volver al login</button>
    </div>
  </form>
</div>
</div> 