<div class="login-page"> <!-- Login page envuelve todo, se puede interpretar como el fondo-->
  <div class="login-container"> <!--login container envuelve el formulario, 
    donde estan los labels, inputs y botones-->
    <h2>Login</h2> <!-- Label que se visualiza encima del formulario-->
    
    <form [formGroup]="form" (ngSubmit)="ingresar()">
      <!--El evento (ngSubmit)="ingresar()" intercepta el envío del formulario para 
      ejecutar la función de validación y autenticación en lugar de recargar la página.

Campos de Entrada y Enlace de Controles-->
      <!-- Campo Usuario con ícono -->
      <div class="input-group">
        <i class="fas fa-user"></i>
        <input 
          id="username" 
          type="text" 
          placeholder="Usuario" 
          formControlName="username" 
        />
        <!-- El input de username a se sincroniza con el backend 
         a traves de forControlname y asi angular puede validar los datos-->
      </div> 

      <!-- Campo Contraseña con ícono -->
      <div class="input-group">
        <i class="fas fa-lock"></i>
        <input 
          id="password" 
          type="password" 
          placeholder="Contraseña" 
          formControlName="password" 
        />
        <!-- Este input se sincroniza con el backend a traves de forControlName
         es de type='password' oara que el texto se vea oculto-->
      </div>

      <!-- Botones -->
      <div class="buttons">
        <button type="submit">Ingresar</button> <!-- Boton de ingresar, con su logica en
        login.component.ts-->
        <button type="button" [routerLink]="['/registro']">Registrarse</button>
        <!--Boton para dirigirse hacia la vista de registro--> 
      </div>
    </form>
  </div>
</div>
